{$DOMAIN}:9090 {
    basicauth /* {
        {$ADMIN_USER} {$ADMIN_PASSWORD}
    }
    tls internal {
    }
    reverse_proxy prometheus:9090
    log {
        output stderr
    }
}

{$DOMAIN}:9093 {
    basicauth /* {
        {$ADMIN_USER} {$ADMIN_PASSWORD}
    }
    tls internal {
    }
    reverse_proxy alertmanager:9093
    log {
        output stderr
    }
}

{$DOMAIN}:9094 {
    basicauth /* {
        {$ADMIN_USER} {$ADMIN_PASSWORD}
    }
    tls internal {
    }
    reverse_proxy karma:8080
    log {
        output stderr
    }
}

{$DOMAIN}:3000 {
    tls internal {
    }
    reverse_proxy grafana:3000
    log {
        output stderr
    }
}
